# Trusty (beanpod) TEE HAL services for /data FBE decryption
# Binaries extracted from the stock vendor image of this device.

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on fs
    chmod 0660 /dev/trusty-ipc-dev0
    chown system system /dev/trusty-ipc-dev0

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

service vendor.keymaster-4-1 /system/bin/android.hardware.keymaster@4.1-service
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user system
    group system drmrpc
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user system
    group system
    seclabel u:r:recovery:s0
